@{
    Layout = "";
}
@model Nop.Plugin.SMS.Alidayu.Models.SmsAlidayuModel
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    To receive an SMS notification when an order is placed from your store you need to follow a few simple steps, which are shown below:<br />
                    1. Register for a <a href="https://www.alidayu.com/center/application/test" target='_blank'>alidayu account</a><br />
                    2. Set up new app. <br />
                    3. Fill in the form below with your alidayu account details, including the number you want the notification messages to be sent to.<br />
                       Now when you receive a new order, an SMS text message will be sent to the number you enter below automatically.
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Enabled_OverrideForStore, model => model.Enabled, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Enabled)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ProductName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ProductName)
                        @Html.ValidationMessageFor(model => model.ProductName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AppKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AppKey)
                        @Html.ValidationMessageFor(model => model.AppKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AppSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AppSecret)
                        @Html.ValidationMessageFor(model => model.AppSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SslEnabled)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SslEnabled)
                        @Html.ValidationMessageFor(model => model.SslEnabled)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SandboxEnabled)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SandboxEnabled)
                        @Html.ValidationMessageFor(model => model.SandboxEnabled)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PhoneNumber_OverrideForStore, model => model.PhoneNumber, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SmsFreeSignName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SmsFreeSignName)
                        @Html.ValidationMessageFor(model => model.SmsFreeSignName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SmsTemplateCode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SmsTemplateCode)
                        @Html.ValidationMessageFor(model => model.SmsTemplateCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SmsTemplateCodeForVerificationCode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SmsTemplateCodeForVerificationCode)
                        @Html.ValidationMessageFor(model => model.SmsTemplateCodeForVerificationCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Sms.Clickatell.SendTest.Hint")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TestMessage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TestMessage)
                        @Html.ValidationMessageFor(model => model.TestMessage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="test" class="btn btn-primary" value="@T("Plugins.Sms.Alidayu.SendTest")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}