@model List<Nop.Plugin.Widgets.PriceForSize.Domain.AttributeValueEditModel>
@{
  Layout = "";
}
@using Nop.Web.Framework.UI


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "attributesPriceForSizeAdminForm" }))
{
    <div class="panel-group">
        <div class="panel panel-default table-responsive">
            <table class="table table-condensed">
                <thead class="form-group">
                    <tr>
                        <th>
                            Attribute
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Price for perimeter
                        </th>
                        <th>
                            Price for area
                        </th>
                        <th>
                            Price for volume
                        </th>
                        <th>
                            Price for length
                        </th>
                        <th>
                            Price for height
                        </th>
                        <th>
                            Price for depth
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                {
                        @Html.Hidden("prices[" + @i + "].ProductAttributeValueId", Model[i].ProductAttributeValueId, new { @readonly = "readonly" })
                        <tr class="form-group">
                            <td class="">
                                @Html.Label("prices[" + @i + "].AttributeName", Model[i].AttributeName, new { @readonly = "readonly" })
                            </td>
                            <td class="">
                                @Html.Label("prices[" + @i + "].ValueName", Model[i].ValueName, new { @readonly = "readonly" })
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForM1", Model[i].PriceForM1)
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForM2", Model[i].PriceForM2)
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForM3", Model[i].PriceForM3)
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForBaseLength", Model[i].PriceForBaseLength)
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForHeightLength", Model[i].PriceForHeightLength)
                            </td>
                            <td class="col-md-1.5 attributePrice">
                                @Html.TextBox("prices[" + @i + "].PriceForDepthLength", Model[i].PriceForDepthLength)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td class="col-md-3">
                            <input id="attributesPriceForSizeAdminFormSave" type="button" value="@T("Admin.Common.Save")" class="btn bg-blue" />
                        </td>
                        <td class="col-md-9 saveResult"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    $().ready(function () {
      jQuery('#attributesPriceForSizeAdminForm').validate().currentForm = '';

      $('#attributesPriceForSizeAdminFormSave').click(function (ev) {
        $form = $('#attributesPriceForSizeAdminForm');
        $.ajax({
          cache: false,
          type: "POST",
          url: $form.attr('action'),
          data: $form.serialize(),
          datatype: "html",
          success: function (data) {
            $('#attributesPriceForSizeAdminForm .saveResult').html(data);
          },
          error: function (a, b, c) {
            alert(c);
          }
        });
      });

      $(".attributePrice input[type='text']").kendoNumericTextBox({
            format: "#.00",
            decimals: 2 
        });
    });

</script>