@model List<Nop.Plugin.Widgets.PriceForSize.Domain.AttributeValueEditModel>
@{
  Layout = "";
}
@using Nop.Web.Framework.UI


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "attributesPriceForSizeAdminForm" }))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-2">
                        Attribute
                    </div>
                    <div class="col-md-2">
                        Value
                    </div>
                    <div class="col-md-2">
                        Price for perimeter
                    </div>
                    <div class="col-md-2">
                        Price for area
                    </div>
                    <div class="col-md-2">
                        Price for volume
                    </div>
                    <div class="col-md-2">
                        Price for length
                    </div>
                    <div class="col-md-2">
                        Price for height
                    </div>
                    <div class="col-md-2">
                        Price for depth
                    </div>
                </div>
                @for (int i = 0; i < Model.Count; i++)
                {
                    @Html.Hidden("prices[" + @i + "].ProductAttributeValueId", Model[i].ProductAttributeValueId, new { @readonly = "readonly" })
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.Label("prices[" + @i + "].AttributeName", Model[i].AttributeName, new { @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            @Html.Label("prices[" + @i + "].ValueName", Model[i].ValueName, new { @readonly = "readonly" })
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForM1", Model[i].PriceForM1)
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForM2", Model[i].PriceForM2)
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForM3", Model[i].PriceForM3)
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForBaseLength", Model[i].PriceForBaseLength)
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForHeightLength", Model[i].PriceForHeightLength)
                        </div>
                        <div class="col-md-2 attributePrice">
                            @Html.TextBox("prices[" + @i + "].PriceForDepthLength", Model[i].PriceForDepthLength)
                        </div>
                     </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        <input id="attributesPriceForSizeAdminFormSave" type="button" value="@T("Admin.Common.Save")" class="btn bg-blue" />
                    </div>
                    <div class="col-md-9 saveResult">

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $().ready(function () {
      jQuery('#attributesPriceForSizeAdminForm').validate().currentForm = '';

      $('#attributesPriceForSizeAdminFormSave').click(function (ev) {
        $form = $('#attributesPriceForSizeAdminForm');
        $.ajax({
          cache: false,
          type: "POST",
          url: $form.attr('action'),
          data: $form.serialize(),
          datatype: "html",
          success: function (data) {
            $('#attributesPriceForSizeAdminForm .saveResult').html(data);
          },
          error: function (a, b, c) {
            alert(c);
          }
        });
      });

      $(".attributePrice input[type='text']").kendoNumericTextBox({
            format: "#.00",
            decimals: 2 
        });
    });

</script>