@model Nop.Plugin.Misc.WeChat.Models.ConfigureModel
@using Nop.Web.Framework

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.Plugin.Misc.WeChat.Configure.Title")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            
        </div>
    </div>
    
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                       
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Token)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Token)
                                @Html.ValidationMessageFor(model => model.Token)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AppId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AppId)
                                @Html.ValidationMessageFor(model => model.AppId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AppSecret)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AppSecret)
                                @Html.ValidationMessageFor(model => model.AppSecret)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.OriginalId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.OriginalId)
                                @Html.ValidationMessageFor(model => model.OriginalId)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
